<script src="../static/handlebars-v4.0.2.js"> </script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<!-- NORMALIZE IS POSSIBLY NOT FOR US -->
<link rel="stylesheet" href="../static/normalize.css">
<link rel="stylesheet" href="../static/skeleton.css">
<link rel="stylesheet" href="../static/header.css">
<link href='https://fonts.googleapis.com/css?family=Raleway:400,600,800,200' rel='stylesheet' type='text/css'>

<body>
  <div class="header">
    <div id="nav" class="twelve columns">
       <ul>
           <li><a href="#">Logout</a></li>
           <li><a href="profile.html">Profile</a></li>
           <li><a href="#">About</a></li>
           <li><a href="#">Home</a></li>
       </ul>
    </div>
  </div>
<script id="home-template" type="text/x-handlebars-template">
  <div class="own container">
    <h2 class="home-headers">Your Active Conversations</h2>
    <hr class="small">
    {{#each yours}}
    <div class="previewConvo">
      <div class="row">
        <div class="ten columns">
          <h3>Q: {{question}}</h3>
        </div>
        <div class="two columns">
          <h3 class="u-pull-right">+ {{rating}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <p class="u-pull-left">{{user.0.name}} says:<br> {{user.0.stance}}</p>
        </div>
        <div class="six columns">
          <p class="u-pull-right">{{user.1.name}} says:<br> {{user.1.stance}}</p>
        </div>
      </div>
      <div class="row" style="text-align:center">
        <a class="button convo" href={{id}}>View Conversation</a>
      </div>
    </div>
    <hr>
    {{/each}}
  </div>

  <div class="featured container">
  <h6 class="home-headers">Featured Conversations</h6>
  <hr class="small">
  {{#each featured}}
  <div class="previewConvo">
    <div class="row">
      <div class="ten columns">
        <h3>Q: {{question}}</h3>
      </div>
      <div class="two columns">
        <h3 class="u-pull-right">+ {{rating}}</h3>
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <p>{{user.0.name}} says:</p>
        <p> {{user.0.stance}}</p>
      </div>
      <div class="six columns">
        <p class="u-pull-right">{{user.1.name}} says:<br> {{user.1.stance}}</p>
      </div>
    </div>
    <div class="row" style="text-align:center">
      <a class="button convo" href={{id}}>View Conversation</a>
    </div>
    <hr>
    {{/each}}
  </div>

</script>

<script>
  var source = $("#home-template").html();
  var template = Handlebars.compile(source);
  var text = '{"yours": [{"id": "001", "question": "What is the best color?", "rating": "128",'+ 
                          '"user": [{"name": "Chuck", "stance": "I have always loved blue. It is by far the calmest color, regardless of shade. It reminds me of a cool stream, winding lazily through a forest in the spring."},{"name": "Dave", "stance": "My favorite color is blood."}]},'+
                         '{"id": "002", "question": "How do you feel about cats?", "rating": "2",'+ 
                          '"user": [{"name": "Chuck", "stance": "I like cats!"},{"name": "Dave", "stance": "Cats eat their owners if they die."}]}],'+
                '"featured":[{"id": "003", "question": "How about that pope guy?", "rating": "103",'+
                          '"user": [{"name": "Chuck", "stance": "The pope is dope."},{"name": "Dave", "stance": "Nah, bruh."}]}]}';              
  var context = JSON.parse(text);

  $(document.body).append(template(context));
  $("a.convo").each(function () {
    var orig = $(this).attr('href');
    $(this).attr('href', 'conversation.html#'+orig);
  })
</script>
</body>